header {
  background-color: #B8B8B8;
}

section {
  background-color: #818181;
}

h1 {
  font-family: Helvetica, Arial;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

h2 {
  font-family: Helvetica, Arial;
  color: #0033CC;
  text-align: left;
  text-transform: uppercase;
}

a {
  font-family: Helvetica, Arial;
  text-align: center;
  color: #000000;
  background-color: #FFD700;
}

img {
  display: none;
}